//===============================================================================
// VARIABLES
//===============================================================================
$paper: #202836;
$ink: #d3dfed;
$link: $ink;
$header: $ink;

$body-font: 'Merriweather', serif;

$wrap-width: 38em;